.info-post-out {
  display: flex;
  flex-direction: column;
}
.outstd-cate {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  right: 0;
}

.outstd-cate__item {
  margin-left: 10px;
  color: black;
  font-size: 18px;
}
